
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #ff9900;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; width:95%}
#dialogbox > div > #dialogboxhead{ background: #bae8f4 url('../img/images/RowBG.png') repeat-x;font-size:19px; padding:10px; color:#000; }
#dialogbox > div > #dialogboxbody{ background:#d0dee9; padding:20px; color:red; }
#dialogbox > div > #dialogboxfoot{ background: #d0dee9; padding:10px; text-align:right; }